<!DOCTYPE html>
<html>
<head>
  <title>Flowerapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Cutive+Mono|Pompiere' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<section id="header-banner">

  <p>
    <a href="/">Home</a> | 
  <% if user_signed_in? %>
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to 'Post a New Flower    ', new_user_flower_path(current_user.id)%>
  <% end %>
  </p>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>


  <h1><a id="home-link" href="/">instaFlower</a></h1>


</section>

<%= yield %>

</body>
</html>
